@media (max-width: 1024px) {
.form__input,
.form__select {
    width: 100%;
}
}
@media (max-width: 992px) {
.header__nav {
position: absolute;
left: 0;
top: 0;
width: 50%;
min-width: 250px;
height: 100vh;
z-index: 1000;
padding: 50px;
box-shadow: 0 0 5px #888;
background-color: #fff;
overflow-y: auto;
visibility: hidden;
transform: translateX(-120%);
transition: visibility 0.3 ease-in-out, transform 0.3s ease-in-out;
}
.header__nav--active {
    visibility: visible;
    transform: none;
}
.header__nav .nav__list {
    flex-direction: column;
    
}
.header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
}
.header__nav .nav__link {
    font-size: 18px;  
}

.burger--active
.burger__line:nth-child(2) {
    opacity: 0;
}
.burger--active
.burger__line:first-child {
    left: 25%;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}
.burger--active
.burger__line:last-child {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}
.header__btn {
margin-right: 7px;
padding: 12px 35px;
}
.burger {
display: block;
position: relative;
width: 40px;
height: 40px;
border: 1px solid currentColor;
border-radius: 3px;
color: #3172b9;
}
.burger__line {
position: absolute;
left: 50%;
width: 20px;
height: 2px;
border-radius: inherit;
background-color: currentColor;
transform: translateX(-50%);
}
.stop-scroll {
    overflow: hidden;
}
.burger__line:nth-child(1) {
top: 13px;
}
.burger__line:nth-child(3) {
bottom: 13px;
}
.burger__line:nth-child(2) {
top: 50%;
transform: translateY(-50%) translateX(-50%);
}
.hero__content {
    width: 75%;
}
.services__list {
    flex-wrap: wrap;
    flex-direction: column;
    
}
.services__item {
    margin-bottom: var(--gap);
    width: calc((100% -(var(--gap))) / 2);
   
}
.services__item:not(:nth-child(4n)){
    margin-right: 0;
}
.services__item:not(:nth-child(2n)) {
    margin-right: var(--gap);
    
}
.blog-preview {
    height: 100%;
}
.form {
    padding: 0;
}
.footer__container {
    flex-direction: column;

}
.footer__left {
margin-bottom: var(--gap);
}
.clients__item {
    padding: 20px;
}
}
@media (max-width: 768px) {
    .blog-preview-link {
        flex-direction: column;
    }
    .clients__list {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .clients__item:not(:nth-child(3n)) {
        margin-right: 0;
    }
    .clients__item {
        margin-bottom: var(--gap);
        width: calc((100% - var(--gap))) / 2;
    }
    .footer__nav .nav__item:not(:last-child) {
        margin-right: 18px;
}
}
@media (max-width: 576px) {
    :root {
        --gap: 15px;
    }
    .header {
        padding: 15px 0;
    }
    .header-logo {
        width: 80px;
    }
    .header__btn {
        padding: 12px 21px;
    }
    .hero {
        padding-top: 29px;
        background-image: none;
        padding-bottom: 0;
    }
    .hero__content {
        width: 100%;
    }
    .hero__title {
        margin-bottom: 15px;
    }
    .hero__descr {
        margin-bottom: 16px;
    }
    .hero__wrapper {
        width: 100%;
    }
    .hero__btn {
        width: 100%;
    }
    .section-offset {
        padding: 60px 0;
    }
    .services-list {
        margin-bottom: -20px;
    }
    .services__title {
        text-align: left;
        margin-bottom: 16px;
    }
    .services__descr {
        margin-bottom: 37px;
        line-height: 22px;
    }
    .services__item__icon {
        margin-bottom: 15px;
        width: 42px;
        height: 42px;
    }
    .services__item {
        margin-bottom: 20px;
        padding: 15px;
        min-height: 222px;
    }
    .services__item__title {
    margin-bottom: 3px;
        font-size: 16px;
        line-height: 130%;
    
    }
    .services__item__descr {
        font-size: 12px;
        line-height: 150%;
         
    }
    .articles__title {
        margin-bottom: 13px;
    }
    .articles__item:not(:nth-child(2n)) {
        margin-right: 0;
    }
    .articles__item {
        width: 100%;
    }
    .articles__item:nth-child(-n + 2) {
        display: none;
    }
    
    .articles__center {
        display: block;
    }
    .articles__center--hidden {
        display: none;
    }
    .articles__item.articles__item--visible {
        display: block;
    }
    .blog-preview-link {
      flex-direction: row;
      align-items: center;  
    }
    .blog-preview-image {
        flex-shrink: 0;
        width: 86px;
        height: 100%;
        
    }
    .blog-preview {
        min-height: 191px;
    }
    .blog-preview-text {
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .blog-preview-time {
        margin-bottom: 5px;
    }
    .blog-preview-title {
        margin-bottom: 2px;
    }
    .articles__list {
        margin-bottom: calc(-1 * var(--gap));
    }
    .clients__list {
        margin-bottom: -13px;
    }
    .clients__item {
    width: 100%;
    margin-bottom: 13px;
    }
    .clients__title {
        margin-bottom: 16px;
    }
    .clients__post {
        transform: translateY(-7px);
        display: inline-block;
    }
    .contacts__title {
        margin-bottom: 12px;

    }
    .contacts__list {
        flex-wrap: wrap;
    }
    .contacts__item:not(:nth-child(3n)) {
        margin-right: 0;
    }
    .contacts__item {
        width: 100%;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    .contacts__item__caption {
        margin-bottom: 9px;
    }
    .contacts__list {
        margin-bottom: -30px;
    }
    .join-us-title {
        text-align: left;
    }
    .join-us-descr {
        text-align: left;
        margin-bottom: 15px;
    }
    .form__top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .form__left {
        margin-bottom: 15px;
    }
    .form__left,
    .form__right {
        width: 100%;
    }
    .form__input {
        padding-left: 19px;
        margin-bottom: 15px;
    }
    .form__select {
        padding-left: 19px;
        padding-right: 19px;
    }
    .form__textarea {
        min-width: 240px;
        padding-left: 19px;
        padding-right: 19px;
    }
    .form__bottom {
        justify-content: center;
    }
    .form__wrapper {
        width: 100%;
    }
    .form__btn {
        width: 100%;
        margin-bottom: 14px;
    }
    .footer__container {
        flex-direction: column-reverse;

    }
    .footer {
        padding: 30px 0;
        padding-bottom: 0;
    }
    .footer__left {
        width: 100%;
        flex-wrap: wrap;
    }
    .footer__nav .nav__list{
    flex-wrap: wrap;
    }
    .footer__nav .nav__link{
        font-size: 15px;
        line-height: 20px;
        }
        .footer__nav {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .footer__right {
            flex-wrap: wrap;
            margin-bottom: 27px;
        }
        .footer__logo {
            margin-right: 0;
            width: 80px;
            margin-bottom: 27px;
        }
        .footer__nav .nav__item:not(:last-child) {
            margin-right: 32px;
        }
        .footer__nav .nav__item {
            margin-bottom: 16px;
        }
        .social__item:not(:last-child) {
            margin-right: 25px;
        }
        .footer__copy {
            position: relative;
            padding: 17px 0;
            width: 100%;
            text-align: center;
            display: block;
        }
        .footer__copy::before {
            content: "";
            position: absolute;
            left: -15px;
            top: 0;
            width: calc(100% + 30px);
            height: 1px;
            background-color: #c4c4c4;
            
        }
}
